
MNIST/raw/t10k-images-idx3-ubyte
MNIST/raw/t10k-labels-idx1-ubyte
MNIST/raw/train-images-idx3-ubyte
MNIST/raw/train-labels-idx1-ubyte
*.csv
src/running/__pycache__/Train.cpython-39.pyc
*.pyc
src/.DS_Store
src/model/.DS_Store
*.xlsx
